@media only screen and (max-width:999px){
    
    .meet-responsive{
        
        text-align: center;
    }
    
    .meet-responsive img{
        
        margin:auto;
    }
}

@media (max-width: 950px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    
    .navbutton{
        background-color: white;
    }
    
    .navbutton:hover{
        background-color: black;
    }
    
    .nav>li>a{
    padding-top: 30px;
    padding-bottom: 30px;
    
    }
    
}

Press Shift + Tab to navigate to chat history.