@media only screen and (max-width:999px){
    
    .meet-responsive{
        
        text-align: center;
    }
    
    .meet-responsive img{
        
        margin:auto;
    }
}


@media (max-width: 1060px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
        padding-top: 50px;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    
    .navbutton{
        background-color: rgba(255,255,255,0.5) !important;
    }
    
    .navbutton:hover{
        background-color: white !important;
    }
    
    .nav>li>a{
    padding-top: 30px;
    padding-bottom: 30px;
    
    }
    
    .beneficiary-text{
        text-align: center;
        
    }
    
    .members-info{
        text-align: center;
        
    }
    
    .application-reviewing{
        margin-left: 0px;
    }
    
    .application-process{
        margin-left: 0px;
        text-align: center;
    }
       
    .img-responsive-two img{
        margin:auto;
    }
    
    .groupmeetingsinfo{
        text-align: center;
    }

    
}

@media only screen and (max-width:630px){
    
    .h1 {
        width: 100% !important;
    }
}

Press Shift + Tab to navigate to chat history.