body{
    font-size: 16px;
    font-family: arial, sans-serif;  
}

navbar{
    font-size:0.875em;
}

a{
    color: black;
}

a:hover{
    color: #9c552b;
}

.nav>li>a:hover{
    background-color: transparent;
}

.nav>li>a{
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
        padding: 15px 30px;
    padding-top: 50px;
}


.herobg{
    background: url(images/white-mountain-01.png),url(images/header-bg.jpg);
    background-position: bottom,top;
    background-size: cover;
}

.navbar-brand>img{
    width: 150px;
}

.herobg h1{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    width: 450px;
    font-size;3em;
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 100%;
    margin-top: 50%;    /*    or 300px*/
    text-align: center;
    padding-bottom: 10%;
    margin-left: 30%;

}

/*???*/
.aboutbg{
    background-image: url(images/welcomebg.png);
    background-size: cover;
}
    
.aboutbg h2{
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-top: 30px;
}

.welcome-text{
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    font-size:1em;
    line-height: 2em;
}

.btn-primary {
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 60px;
    color: #ffff;
    background-color: #9c552b;
    border-color: transparent;
}

.btn:hover{
    background-color:darkgray;
    border-color: transparent;
}

.meetcarolbg{
    background-color: #1c1c1a;
}

.meetdavidbg{
    background-color: #ffff;
}

.img-responsive{
    margin-bottom:10%;
}

.col-md-6{
    margin-top: 5%;
    margin-bottom 5%;
}

.carol{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size:1.em;
    color: #ffff;
}

.david{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size:1.em;
    color: black;
}

.date{
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    color: darkgray;
    letter-spacing: 1px;
}

.carolp{
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    color: #ffff;
    letter-spacing: .8px;
}

.davidp{
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    letter-spacing: .8px;
}

.seemore{
        font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    color: #9c552b;
    letter-spacing: 1px;
}

footer{
    background-image: url(images/footer-bg.jpg);
    background-size: cover;
    width: 100%;
    background-position: center center;
}

.icons{
    padding-top: 30px;
    width: 50px;
}

.footer-content{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #9c552b;
}

.footerbox{
    background-color: #1c1c1a;
}