body{
    font-size: 16px;
    font-family: arial, sans-serif;  
}

navbar{
    font-size:0.875em;
}

a{
    color: black;
}

a:hover{
    color: #9c552b;
}

.nav>li>a:hover{
    background-color: transparent;
}

.nav>li>a{
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
        padding: 15px 30px;
}

.navbar-brand{
    background: url(images/logo.jpg);
    background-size: cover;
}


.herobg{
    background: url(images/header-bg.jpg);
    background-size: cover;
}

.herobg h1{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    width: 450px;
    font-size;3em;
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 100%;
    margin-top: 50%;    /*    or 300px*/
    text-align: center;
    padding-bottom: 10%;
    margin-left: 30%;

}

/*???*/
.aboutbg{
    background-image: url(images/welcomebg.png);
    background-size: cover;
}
    
.aboutbg h2{
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-top: 30px;
}

.welcome-text{
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    font-size:1em;
    line-height: 2em;
}

.btn-primary {
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #ffff;
    background-color: #9c552b;
    border-color: transparent;
}

.btn:hover{
    background-color:darkgray;
    border-color: transparent;
}